<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ExtensionMapper">
	<select id="listExtension"
		resultType="com.flow.fileBlock.domain.extensionVO">
		SELECT * from extension
	</select>

	<select id="selectByExtensionName" resultType="com.flow.fileBlock.domain.extensionVO">
		SELECT * from extension WHERE name = #{name}
	</select>

	<insert id="insertExtension" useGeneratedKeys="true"
		keyProperty="id" keyColumn="id">
		INSERT INTO extension(type,name,status)
		VALUES(#{type}, #{name}, #{status})
	</insert>

	<update id="updateExtension">
		UPDATE extension
		SET
		status = #{status}
		WHERE id = #{id}
	</update>

	<delete id="deleteExtension">
		DELETE FROM extension
		WHERE id = #{id}
	</delete>
</mapper>